.delete-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  width: 400px;
  font-size: 16px;
  color: #fff;
}

.delete-confirmation img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.delete-confirmation p {
  margin: 0;
  flex-grow: 1;
}

.confirmation-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.confirmation-actions button {
  background: transparent;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.confirmation-actions button img {
  width: 40px; /* Correct the image size inside button */
  height: 40px;
}

.confirmation-actions button.success-icon img {
  width: 40px;
  height: 40px;
}

.confirmation-actions button.failed-icon img {
  width: 40px;
  height: 40px;
}

.confirmation-actions button:hover img {
  transform: scale(1.1); /* Apply hover effect to the image inside button */
}
